/* Master Styles */
body {
    /*font-family: "Lato", sans-serif;*/
    margin: 0px;
    background: rgb(242, 251, 242);
}

.container {
    display: grid;
    grid-template-columns: 1fr;

}

/* Nav Styles */ 
.nav-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 38px;
}

.left-side {
    display: flex;
}

.nav-wrapper > .left-side > div {
    margin-right: 20px;
    font-size: 1.2em;
    text-transform: uppercase;
}


/* What i did */
.nav-wrapper > .right-side > div {
    margin-right: 20px;
    font-size: 3em;
    color: lightseagreen;
  /*  text-transform: uppercase;*/
}
/* What i did stopped here */


.nav-link-wrapper {
    height: 22px;
    border-bottom: 1px solid transparent;
    transition: border-bottom 0.5s;
}

.nav-link-wrapper a {
    color: #8a8a8a;
    text-decoration: none;
    transition: color 0.5s;
}

.nav-link-wrapper:hover {
    border-bottom: 1px solid lightseagreen;
}

.nav-link-wrapper a:hover {
    color: lightseagreen;
}

.active-nav-link {
    border-bottom: 1px solid lightseagreen;
}

.active-nav-link a {
    color: lightseagreen !important;
}




/* Portfolio Styles */

.portfolio-items-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

/* What I did 
@media screen and (max-width: 1280px) {
    .portfolio-items-wrapper {
        width: 45%;
    }
}

@media screen and (max-width: 736px) {
    .portfolio-items-wrapper {
        width: 100%;
    }
    
}
 What I did stopped here */

.portfolio-item-wrapper {
    position: relative;
}

.portfolio-img-background {
    height: 475px;
    width: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 20px;
}

.img-text-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
    padding-left: 100px;
    padding-right: 100px;
}

.logo-wrapper img {
    width: 50%;
    margin-bottom: 20px;
}

.img-text-wrapper .subtitle {
    transition: 1s;
    font-weight: 600;
    color: transparent;
    /*font-family: "Lato", sans-serif;*/
}

.img-text-wrapper:hover .subtitle {
    font-weight: 600;
    color: lightseagreen;
    /*font-family: "Lato", sans-serif;*/
}

.img-darken {
    transition: 1s;
    filter: brightness(8%);
}

/* About page styles */

.two-column-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.profile-image-wrapper img {
    width: 100%;
    height: 50%;
}

.profile-content-wrapper {
    padding: 30px; 
}

.profile-content-wrapper h1 {
    color: lightseagreen;
}



